#CLIENT

shipment_tracker_client/node_modules
shipment_tracker_client/.env
shipment_tracker_client/.env.development
shipment_tracker_client/.env.production
shipment_tracker_client/.pnp
shipment_tracker_client/.pnp.js
shipment_tracker_client/coverage
shipment_tracker_client/build
shipment_tracker_client/.DS_Store
shipment_tracker_client/.env.local
shipment_tracker_client/.env.development.local
shipment_tracker_client/.env.test.local
shipment_tracker_client/.env.production.local
shipment_tracker_client/npm-debug.log*
shipment_tracker_client/yarn-debug.log*
shipment_tracker_client/yarn-error.log*

#SERVER

shipment_tracker_server/config/config.env
shipment_tracker_server/config/config.json
shipment_tracker_server/ftp
shipment_tracker_server/node_modules
shipment_tracker_server/rest